/* for all pages */
* {
    margin: auto;
    font-family: 'Work Sans';
}

/* header css start */
header {
    background-image: url(../images/banner/banner3.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-container {
    margin-right: 230px;
    margin-top: 80px;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translate(0, -50%);

}

.header-title {
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
    margin-bottom: 24px;
    line-height: 80px;
}

.header-description {
    margin-left: 1200px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 25px;
    line-break: loose;
    margin-bottom: 32px;
}

.first-button {
    border: none;
    background-color: white;
    padding: 27px 30px;
    color: #005FAC;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* header css ends here */

/* first-section start here*/

.seasoned {
    display: flex;
    align-items: center;
    margin-top: 131px;
}

.image1 {
    margin-left: 400px;
}

.article1 {
    margin-left: -190px;

}

.article1-title {
    font-weight: bolder;
    font-size: 60px;
    line-height: 65px;
    color: #151414;
    margin-bottom: 24px;
    margin-top: 50px;
}

.article1-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 25px;
    line-break: loose;
    margin-bottom: 32px;
}

i {
    color: #16D887;
}

/* first section css ends here*/

/* second section css start here*/
.my-plan {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 47px;
    color: #151414;
    margin-top: 140px;
    margin-bottom: 56px;

}

.plans {
    display: flex;
    gap: 4px;
    text-align: center;
    align-items: center;
    margin: 0px 230px;
}

.plan-title {
    font-weight: bolder;
    font-size: 35px;
    line-height: 35px;
    color: #151414;
    margin-top: 20px;
}

.plan-description {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #737272;
    line-height: 29px;
}

/* second section css ends here */

 /* Gradient section css start here */
/*using linearGradient is bonus, said in module */
.image2 {
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 150px 230px;
    padding: 40px 400px;
    border-radius: 5px;
}

.image2-heading {
    font-size: 40px;
    font-weight: 800;
    color: white;
    line-height: 47px;
    text-align: left;
    margin-left: -250px;
}

.second-button {
    margin-left: -250px;
    margin-top: 24px;
    background-color: white;
    color: #005FAC;
    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    padding: 21px 36px;

}

/* Gradient section css ends here */

/* footer section start here */

.footer {
    background-color: #151414;
}

.footer-section {
    display: flex;
    align-items: center;
    color: #F8F8F8;
}

.footer-title {
    margin-top: 130px;
    margin-left: 230px;
    margin-bottom: 16px;
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
}

.footer-description {
    margin-left: 230px;
    margin-bottom: 16px;
    margin-right: 858px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: white;
}

.email {
    margin-left: 230px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: white;
}

.icons {
    margin-left: 230px;
}

.icon {
    margin-right: 17px;
    padding-bottom: 130px;
}

.sub {
    margin-left: -598px;
    margin-top: -55px;
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 31px;
}

.subscribe input {
    border: 2px solid white;
    margin-left: -597px;
    background-color: #151414;
    height: 64px;
    width: 325px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

::placeholder {
    color: #ffffff;
}

.third-button {
    border: none;
    color: white;
    padding: 27px 30px;
    background-color: #005FAC;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-left: -597px;
    margin-top: 16px;
}

/* footer section ends here */